*.bak
*.kpf
*.pyc
*.pyo
*swo
*swp
*~
.DS_Store
.Python
.cache
.project
/bin
/build
/distribute-*
/include
/lib*
/readline-*
/share
/src/Flask-Identity-Client-*
/src/MANIFEST
/src/build
/src/dist
Icon?
.env
